@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel
		&-slider
			width: 590px
			&__image
				width: 100%
				height: 100%
				object-fit: cover
	.card
		width: 230px
		height: 230px
	.footer
		&__input
			&-group
				max-width: 100%
				flex-basis: 100%
		&-bottom
			&__wrapper
				min-width: 620px
@media (max-width: 992px)
	.container,
	.newsletter-wrapper
		max-width: 700px
	.logo
		width: 132px
	.navbar
		&-top
			padding: 30px 0px
		&-menu
			padding: 21px 14px
		&__search
			margin-left: 50px
	.list
		&__link
			font-size: 12px
			line-height: 15px
	.search
		&__input
			width: 340px
		&__button
			&:hover
				background-color: $bc
	.user
		&__name
			&:hover
				color: $tc
	.hotel
		padding-bottom: 60px
		&-grid
			flex-direction: column
		&-main
			flex-direction: row
			flex-wrap: wrap
		&-slider
			width: 100%
		&__slider
			margin-bottom: 30px
	.booking
		flex-basis: 48.5%
		&-btn
			&:hover
				background-color: $bc
	.ymap-container
		flex-basis: 48.5%
	.reviews
		&__title
			font-size: 30px
			line-height: 38px
			margin-bottom: 50px
		&-slider
			&__item
				max-width: 580px
	.activities
		padding-bottom: 16px
		&__card
			margin-bottom: 20px
	.card
		width: 340px
		height: 255px
		&__button
			&:hover
				background-color: $bc
	.footer
		padding-top: 73px
		&-wrapper
			grid-template-columns: repeat(18, 1fr)
			grid-row-gap: 40px
			grid-column-gap: 40px
		&__logo
			grid-row: 1 / 2
			grid-column: span 5
			width: 104px
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: span 11
				align-self: center
		&__categories
			grid-column: span 5
			grid-row: 2 / 3
		&__additional
			grid-column: span 7
		&__legal
			grid-column: span 6
		&__contact
			&-details
				grid-row: 3 
				grid-column: span 13
			&-form
				grid-row: 4 
				grid-column: span 14
		&__input
			&-group
				flex-basis: 47%
		&-bottom
			&__wrapper
				min-width: 100%
		&__button
			&:hover
				background-color: $bc
	.subscribe
		&__button
			&:hover
				background-color: $bc
	.modal
		&__dialog
			padding: 33px 66px
		&__block-send
			flex-direction: column
			align-items: flex-start
		&__button
			width: 100%
			margin-right: 0
			margin-top: 15px
		&__required
			order: -1
@media (max-width: 768px)
	.container
		max-width: 576px
		width: 92%
	body
		padding-top: 78px
	.navbar
		&__search, &__user
			&--mobile
				&--hidden
					display: none
				&--visible
					display: flex
		.navbar
			&__search
				margin-left: auto
		&__mobile
			&--fixed
				position: fixed
				top: 0
				left: 0
				right: 0
				z-index: 4
		&__user
			flex-direction: column
			justify-content: center
		&-bottom
			display: none
			position: fixed
			top: 0
			left: 0
			right: 0
			bottom: 0
			top: 78px
			padding-top: 30px
			overflow: auto
			&--active
					display: block
		&-menu
			&__list
				flex-direction: column
	.list
		&__item
			margin-bottom: 20px
			&--mobile
				&--visible
					display: block
	.menu-button
		display: flex
		position: relative
		width: 16px
		height: 11px
		align-items: center
		justify-content: space-between
		flex-direction: column
		background-color: $light
		&__line
			width: 16px
			height: 1px
			background-color: $tc
	.menu-button--active
		.menu-button__line
			&--1
				transform: rotate(45deg)
				position: absolute
				top: 5px
				transition: all 0.3s ease 0s
			&--2
				transform: scale(0)
			&--3
				&--1
				transform: rotate(-45deg)
				position: absolute
				top: 5px
				transition: all 0.3s ease 0s
	.user
		&__name
			&--light
				color: $light
				margin-left: 0
				margin-top: 10px
	.hotel
		padding-bottom: 50px
		&-wrapper
			justify-content: space-between
		&-slider
			height: 350px
		&-info
			&__rating
				display: none
			&__offer
				order: -1
				margin-top: 0
			&__text
				width: 100%
			&__name
				margin-right: 0
				margin-top: 10px
		&-name
			flex-basis: 100%
	.booking
		flex-basis: 100%
		max-width: 100%
		margin-bottom: 30px
		display: flex
		flex-direction: column
		&-btn
			width: 70%
			align-self: center
	.ymap-container
		flex-basis: 100%
		width: 100%
		height: 250px
	.stars
		flex-basis: auto
	.newsletter
		&-wrapper
			max-width: 576px
			width: 92%
			flex-direction: column
			align-items: flex-start
		&__title
			margin-bottom: 30px
	.reviews
		padding-bottom: 60px
		&-slider
			&__item
				padding: 0 30px 30px 
				&::after, &::before
					display: none
			&__button
				top: 32px
				&--prev
					left: 50%
					transform: translate(-50%, 0)
					margin-left: -65px
				&--next
					right: 50%
					transform: translate(50%, 0)
					margin-right: -65px
	.activities
		padding: 40px 0 60px 0
	.card
		width: 48%
		height: 255px
	.footer
		&-wrapper
			grid-template-columns: repeat(6, 1fr)
			grid-row-gap: 40px 
		&__logo
			grid-row: 1 / 2
			grid-column: span 2
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: span 4
				align-self: center
		&__categories
			grid-column: span 2
			grid-row: 2 / 3
		&__additional
			grid-column: span 2
		&__legal
			grid-column: span 2
		&__contact
			&-details
				grid-row: 3 
				grid-column: span 5
			&-form
				grid-row: 4 
				grid-column: span 5
		&__input
			&-group
				flex-basis: 100%
		&-bottom
			&__wrapper
				min-width: 100%
	.modal
		&__dialog
			padding: 33px 30px
@media (max-width: 576px)
	.logo
		width: 99px
	.list
		&__item
			&--2
				width: 85%
	.search
		&__input
			width: 100%
	.hotel
		padding: 10px 0 40px 0
		&-slider
			height: 179px
		&__slider
			margin-bottom: 20px
	.booking
		margin-bottom: 20px
		&-btn
			width: 100%
	.ymap-container
		height: 172px
	.newsletter
		padding: 76px 0 83px 0
		&__title
			font-size: 20px
			line-height: 25px
			margin-bottom: 37px
		&__strong
			font-size: 30px;
			line-height: 38px;
	.subscribe
		width: 100%
	.reviews
		padding-bottom: 50px
		&__title
			max-width: 245px
			margin-right: auto
			margin-left: auto
			font-size: 18px
			line-height: 23px
			margin-bottom: 42px
		&-slider
			&__button
				&--prev
					margin-left: -88px
				&--next
					margin-right: -88px
	.activities
		&__title
			font-size: 18px
			line-height: 23px
			margin-bottom: 36px
	.card
		width: 100%
		&:last-child
			margin-bottom: 0
	.footer
		padding-top: 69px
		padding-bottom: 21px
		&__title--inline
			margin-right: 0
			margin-bottom: 20px
		&-wrapper
			grid-template-columns: 1fr
			grid-row-gap: 20px
			&__mb-9
				margin-bottom: 30px 
		&__logo
			grid-row: 1
			grid-column: 1
		&__social
			&-network
				flex-direction: column
				grid-row: 2
				grid-column: 1
		&__legal
			grid-row: 3
			grid-column: 1
		&__additional
			grid-row: 4
			grid-column: 1
		&__categories
			grid-row: 5
			grid-column: 1
		&__contact
			&-details
				grid-row: 6
				grid-column: 1
			&-form
				grid-row: 7
				grid-column: 1
		&__block
			&-send
				flex-direction: column
				align-items: flex-start
		&__required
			order: -1
			margin-bottom: 15px
		&__button
			width: 56%
		&-bottom
			&__wrapper
				flex-direction: column
				align-items: flex-start
		&__info
			margin-bottom: 10px
	.modal
		&__dialog
			width: 92%
			padding: 15px 22px

		

	
	
